
@{
    ViewBag.Title = "Error";
}

<div class="modal-body" id="mdContentStatus">
    <h1 style="font-size: 30px;">
        No se ha encontrado
        No se puede encontrar este número de rastreo. Verifique el número o póngase en contacto con el remitente.
    </h1>
</div>

