
@{
    ViewBag.Title = "View";
}

<div class="modal-body" id="mdContentStatus">
    <div class="box-header with-border">
        <h4 class="box-title">Lista de Estatus</h4>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tabla-estatus" class="table table-bordered table-striped datatable-selection-single">
                            <thead>
                                <tr>
                                    <th id="ide" hidden>Id</th>
                                    <th>Estatus</th>
                                    <th>Descripción</th>
                                    <th>Fecha y Hora</th>
                                    <th>Lugar</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>









