
@{
    ViewBag.Title = "Add";
}

<div class="modal-body" id="mdContentStatus">

    <div class="box-header with-border">
        <h4 class="box-title">Agregar Nuevo Estatus</h4>
    </div>

    <div id="map" style="width:100%; height:400px; background: black;"></div>

    <div class="form-group margin">
        <select class="form-control select2" style="width: 100%;" id="tipoStatus">
            <option value="1" selected="selected">Pendiente</option>
            <option value="2">Entregado</option>
            <option value="3">Cancelado</option>
        </select>
    </div>

    <div class="input-group margin">
        <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
        <input type="text" class="form-control" placeholder="Descripción" id="descripcionStatus">
    </div>

    <div class="input-group margin">
        <span class="input-group-addon"><i class="fa fa-university"></i></span>
        <input type="email" class="form-control" placeholder="Estado" id="estadoStatus">
    </div>

    <div class="input-group margin">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <input type="text" class="form-control" placeholder="Ciudad" id="ciudadStatus">
    </div>

    <style>
        .pac-container {
            z-index: 99999;
        }
    </style>
    <script>
        $('#map').locationpicker({
            radius: 0,
            mapOptions: {
                zoom: 7
            },
            location: {
                latitude: 27.925340417122968,
                longitude: -110.9110737194689
            },
            inputBinding: {
                latitudeInput: $('#latitudStatus'),
                longitudeInput: $('#longitudStatus')
            }

        });
    </script>

    <input hidden type="text" id="longitudStatus">
    <input hidden type="text" id="latitudStatus">

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="guardarStatus()">Guardar</button>
    </div>

</div>



