
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">


    <section class="content-header">

        <h1>
            Gestión de Ordenes
        </h1>

    </section>

    <section class="content">
        <a onclick="add()" class="btn bg-blue"><i class="fa fa-plus-square"></i> Agregar</a>
        <a onclick="eliminar()" class="btn bg-maroon"><i class="fa fa-trash"></i> Eliminar</a>
        <a onclick="edit()" class="btn bg-green"><i class="fa fa-pencil"></i> Editar</a>
        <div class="row">
            <br />
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tabla-ordenes" class="table table-bordered table-striped datatable-selection-single">
                            <thead>
                                <tr>
                                    <th id="ide" hidden>Id</th>
                                    <th>Rastreo</th>
                                    <th>Fecha y Hora</th>
                                    <th>Fecha Entrega</th>
                                    <th>Remitente</th>
                                    <th>Destinario</th>
                                    <th>Domicilio</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="mdMain">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Orden de Envio</h4>
            </div>
            <div id="mdContent">

            </div>
        </div>
    </div>
</div>

